:root {
  --bg-color: white;
  --text-color: black;
  --input-bg: #f0f0f0;
  --input-border: #ccc;
  --link-color: #007bff;

}

[data-theme='dark'] {
  --bg-color: #1d1d1d;
  /* Dark background */
  --text-color: #ffffff;
  /* Light text */
  --input-bg: #333;
  /* Darker input background */
  --input-border: #444;
  /* Darker input border */
  --link-color: #1e90ff;
  /* Bright link color */
}

.App {
  background-color: var(--bg-color);
  color: var(--text-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1,
h2,
h3 {
  color: var(--text-color);
}

input {
  background-color: var(--input-bg);
  border: 1px solid var(--input-border);
  color: var(--text-color);
}

a {
  color: var(--link-color);
}

a:hover {
  text-decoration: underline;
}

/* Additional styling as needed for other elements */